.testimonial-one .slick-slide,
.testimonial-slider-one .slick-slide,
.recent-product-slider .slick-slide,
.product-thumb-slider .slick-slide,
.testimonial-slider-three .slick-slide {
  padding-left: 15px;
  padding-right: 15px;
}

.select-100 .nice-select,
.select-100 .nice-select ul {
  width: 100%;
}

.c-pointer {
  cursor: pointer;
}

html {
  scroll-behavior: smooth;
  overflow-x: hidden;
}

body{
  overflow-x: hidden;
}



.fontsize{
  font-size: 80px !important;
}

@media (max-width: 768px) {
  .fontsize{
    font-size: 60px !important;
  }
}

@media (max-width: 576px) {
  .fontsize{
    font-size: 40px !important;
  }
}
